body {
  font-family: arial;
  text-align: center;
  color: #f58d3b;
}

h1 {
  font-family: arial;
  font-size: 60pt;
  background-color: red;
  padding: 30px;
  margin: 60px;
  text-align: center;
  color: #f5ed89;
  width: 400px;
}

.destaque {
  font-size: 45px;
  font-weight: 200;
}

.pequeno {
}
